@import "./variables.scss";
#about-us {
  .about-grid {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .about-us-header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
    padding: 20px;
    border: 3px dashed #ffffff;
    border-radius: 20px;
    color: white;
    place-items: center;
    .heading {
      text-align: center;
    }
  }
  .pet-container {
    position: relative;
    width: 50%;
    padding-bottom: 50%;
    margin: 0 auto;
  }
  .slider2-bg {
    position: absolute;
    width: auto;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .slider {
    border: 3px solid white;
    border-radius: 20px;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
  }
  .swiper {
    width: 100%;
  }
  .slide-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }
  .slide-img {
    position: absolute;
    width: 80%;
    bottom: 2%;
    left: 50%;
    z-index: 4;
    transform: translateX(-50%);
  }

  .egg-img {
    max-width: unset;
    width: 110%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .swpr-button {
    cursor: pointer;
  }
  @media (min-width: 1024px) {
    .about-grid1 {
      display: grid;
      grid-auto-rows: auto;

      grid-template-columns: 1.3fr 1fr;
      gap: 20px;
    }
    .about-grid {
      display: grid;
      grid-auto-rows: auto;

      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    .about-us-header {
      width: 100%;
      grid-row: 1;
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 0.2fr 1fr;
      padding: 40px;
      .heading {
        text-align: left;
      }
    }
  }

  @media (min-width: 1280px) {
  }
}
