@import "./variables.scss";
#roadmap {
  padding-top: 100px;
  padding-bottom: 20px;
  .heading {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 25px;
  }
  .subheading {
    text-align: center;
  }
  .roadmap-point {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
    padding: 20px;
    border: 3px dashed #ffffff;
    border-radius: 20px;
    color: white;
    place-items: center;
    cursor: pointer;
  }
  .pet-container {
    position: relative;
    width: 50%;
    padding-bottom: 50%;
    margin: 0 auto;
    transition: transform 0.3s;
  }
  .roadmap-point:hover .pet-container {
    transform: scale(1.05) rotate(5deg);
  }
  .roadmap-point:hover .roadmap-heading {
    transform: scale(1.05);
  }
  .roadmap-point:hover .roadmap-text {
    transform: scale(1.05);
  }
  .pet {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
  .roadmap-heading {
    text-align: center;
    font-size: 32px;
    transition: transform 0.3s 0.1s;
  }
  .roadmap-text {
    text-align: center;
    font-size: 12px;
    letter-spacing: 1.5;
    transition: transform 0.3s 0.2s;
  }
  @media (min-width: 1024px) {
    .roadmap-point {
      grid-template-columns: 0.3fr 1fr;
      column-gap: 20px;
      padding: 24px;
    }
    .pet-container {
      width: 100%;
      padding-bottom: 100%;
    }
    .roadmap-heading {
      text-align: left;
      font-size: 24px;
    }
    .roadmap-text {
      text-align: left;
      font-size: 14px;
    }
  }

  @media (min-width: 1280px) {
    .roadmap-heading {
      font-size: 32px;
    }
    .roadmap-text {
      font-size: 16px;
    }
  }
}
