@import "./variables.scss";
.team-member {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .avatar {
    position: relative;
    overflow: hidden;
    width: 75%;
    padding-bottom: 75%;
    border-radius: 100%;
    background-color: $black;
  }
  .egg {
    z-index: 0;
    max-width: unset;
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 50%;
    transition: transform 0.3s;
    transform: translateX(-50%);
  }
  .egg-opened {
    transform: translateX(110%);
  }
  .dino {
    z-index: 0;
    max-width: unset;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    transition: transform 0.3s;
    transform: translateX(-180%) translateY(-50%);
  }
  .dino-opened {
    transform: translateX(-50%) translateY(-50%);
  }
  @media (min-width: 1024px) {
  }

  @media (min-width: 1280px) {
  }
}
